#title, #titleFooter {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px #ffffff80;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.header {
  background-color: #bdbdbd;
}

#title_categories {
  margin-left: 1.5rem;
  margin-bottom: 2.4rem;
}

#text_choosing {
  margin-top: 7rem;
}

#text_welcome {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.card {
  margin-top: 1.5rem;
  cursor: pointer;
}

.card:hover {
  transform:scale(1.02);
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 1rem;
}

.card-text {
  height: 110px;
  overflow-y: hidden;
  font-size: 0.7rem;
}

#link:hover{
  color: white;
}

.footer {
  background: #bdbdbd;
  color: #3b3b3b;
}

.footer a {
  color: #5f5f5f;
  text-decoration: none;
}

.footer.location i {
  font-size: 0.7rem;
  color: #5f5f5f;
}

#copyright p {
  border-top:1px solid lightgrey;
  color: #5f5f5f;
}